
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="d-flex justify-content-center bg-danger p-4">
    <h2 class="text-white">Home</h2>
</div>
<form action="/" method="get">
    <div class="d-flex justify-content-around m-4">
        <button type="submit" asp-action="Cadastrar" asp-controller="Empresa" class="btn p-3 btn-info">Cadastro Empresa</button>
        <button type="submit" asp-action="Login" asp-controller="Usuario" class="btn  p-3 btn-warning">Login</button>
        <button type="submit" asp-action="Cadastrar" asp-controller="Cliente" class="btn  p-3 btn-success">Cadastro Cliente</button>
    </div>
</form>