@model Domain.Empresa

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}


<div class="row container-fluid d-flex justify-content-center">
    <div class="col-md-4">
        <fieldset>
            <legend class="p-4 rounded bg-danger text-white text-center">Editar dados da empresa</legend>
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmpresaId" />
                <div class="form-group">
                    <label asp-for="Cnpj" class="control-label"></label>
                    <input asp-for="Cnpj" class="form-control" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Razao" class="control-label"></label>
                    <input asp-for="Razao" class="form-control" />
                    <span asp-validation-for="Razao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-block btn-primary" />
                </div>
                <div class="form-group">
                    <a class="btn btn-block btn-warning" asp-controller="Empresa" asp-action="Index">Voltar</a>
                </div>

            </form>
            </fieldset>
    </div>
</div>


